// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
    min-width: 770px !important;
    height: 100% !important;
    padding: 0;
}

.bg {
    background: url('/storage/moscow-city.jpg') no-repeat;
    background-size: cover;
}

.bg-light {
    background-color: #f8fafc !important;
}

.btn-primary {
    background-color: #0057B6;
    border-color: #0057B6;
}
